.h1{
    text-align: center;
    font-size: larger;
    margin-top: 100px;
    

}

strong{
    color: red;
}


p{
    text-align: center;
    font-size: larger;
}



.i{
    text-align: center;
    font-size: larger;
}